body {
    background-color: white;
    font-family: Tahoma;
    text-align: center;
}

.coming-christmas {
    padding-bottom: 2rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

button {
    background-color: orange;
    color: black;
    height: 3em;
    font-size: 0.9em;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 2;
    border-color: white;
    border-radius: 20px;
}


nav:last-of-type {
    padding-bottom: 3rem;
}